.box {
    width: 99vw;
    height: 97vh;
    border-style: solid;
  }
  
  .point {
    width: 10vw;
    height: 10vh;
    /*   background-color: red; */
    border-radius: 100%;
    position: relative;
    /*   box-shadow: 2px 2px 2px black; */
  }
  
  .point:hover {
    background-color: blue;
  }
  
  .img {
    width: 10vw;
    height: 10vh;
  }
  